@value makerWhite, makerLightGrey from '../../common/colors.css';

.card {
  width: 80%;
  margin: 0 auto;
  display: flex;
  border-bottom: 4px solid makerLightGrey;
  margin-bottom: 5em;
}
.form {
  width: 100%;
  font-size: 0.8em;
}
.list_box {
  width: 100%;
  margin-bottom: 2em;
}
.list {
  display: flex;
  border: 1px solid #000;
  background: makerWhite;
}
.list > input,
select {
  width: 30px;
  height: 30px;
  flex: 1;
}
.list > pre {
  height: 50px;
}
.list > button,
.list > div {
  flex: 1;
}
.textarea {
  flex-basis: 100%;
}
